parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$namespace of method Litalico\\EgR2\\Services\\NameSpaceFindService\:\:getClassesOfNameSpace\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Console/Commands/GenerateRoute.php

		-
			message: '#^Strict comparison using \!\=\= between array\<string, mixed\> and ''@OA\\\\Generator\:…'' will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Console/Commands/GenerateRoute.php

		-
			message: '#^Trait Litalico\\EgR2\\Http\\Requests\\FormRequestPropertyHandlerTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Http/Requests/FormRequestPropertyHandlerTrait.php

		-
			message: '#^Trait Litalico\\EgR2\\Http\\Requests\\RequestRuleGeneratorTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Http/Requests/RequestRuleGeneratorTrait.php
