name: tests
on:
  pull_request:

jobs:
  filter_paths:
    runs-on: ubuntu-20.04
    outputs:
      lint_files: ${{ steps.filter.outputs.lint_files }}
      fixer_all: ${{ steps.filter.outputs.fixer_all }}
      rector_all: ${{ steps.filter.outputs.rector_all }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Filter paths
        id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            lint:
              - added|modified: '**.php'
            fixer_all:
              - 'composer.json'
            rector_all:
              - 'composer.json'
          list-files: 'shell'

  tests:
    needs: filter_paths
    name: PHP ${{ matrix.php }}
    runs-on: ubuntu-20.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-test-${{ matrix.php }}
      cancel-in-progress: true

    strategy:
      matrix:
        php: ['8.2',"8.3"]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          ini-values: pcov.directory=src
        env:
          update: true

      - name: Validate composer.json and composer.lock
        run: composer validate --no-check-version

      - name: Get Composer Cache Directory
        id: get-composer-cache-dir
        run: |
          echo "path=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Get Composer Cache Directory
        id: composer-cache
        uses: actions/cache@v4
        with:
          path: ${{ steps.get-composer-cache-dir.outputs.path }}
          key: ${{ runner.os }}-${{ matrix.php }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-${{ matrix.php }}-composer-

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress

      - name: lint
        run: composer lint

      - name: PHP CS Fixer for ALL
        if: ${{ needs.filter_paths.outputs.fixer_all == 'true' }}
        id: fixer-all
        continue-on-error: true
        run: |
          vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.dist.php --diff --dry-run --format=checkstyle | cs2pr

      - name: PHP CS Fixer for Diff
        if: ${{ needs.filter_paths.outputs.fixer_all == 'false' && needs.filter_paths.outputs.lint_files }}
        id: fixer
        continue-on-error: true
        run: |
          vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.dist.php --diff --dry-run ${{ needs.filter_paths.outputs.lint_files }} --format=checkstyle | cs2pr

      - name: Dry run Rector for Diff
        if: ${{ needs.filter_paths.outputs.rector_all == 'false' && needs.filter_paths.outputs.lint_files }}
        id: rector
        continue-on-error: true
        run: |
          vendor/bin/rector process --config rector.php ${{ needs.filter_paths.outputs.lint_files }} --dry-run

      - name: Dry run Rector for ALL
        if: ${{ needs.filter_paths.outputs.rector_all == 'true' }}
        id: rector-all
        continue-on-error: true
        run: |
          vendor/bin/rector process --config rector.php --dry-run

      - name: test & coverage
        run: composer coverage

      - name: Report code coverage
        if: matrix.php == '8.2'
        uses: k1LoW/octocov-action@v1